crawl4ai==0.8.6
fastapi
fpdf
langchain
langchain-core
langchain-ollama
langchain-community
langchain-text-splitters
pydantic
python-docx
uvicorn
chromadb
pypdf
docx2txt
unstructured
pandas
openpyxl
xlrd
python-multipart
requests
